<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div class="border d-flex p-3 mx-auto flex-column w-100 h-100">
    <div class="pt-5">
      <img src="./assets/hero.svg" alt="Claire Ratliff & Jackson Avant" class="img-fluid">
    </div>
  
    <footer class="mt-auto">
      <div class="">
        <div class="md">October 14, 2023</div>
        <div class="sm">Richmond, KY</div>
        <div class="sm emoji">&#9825;</div>
      </div>
      <app-countdown></app-countdown>
    </footer></div>

</div>