<div class="container">
  <div class="border">
    <div class="border">
      <div class="box">


        <div class="row header lg">
          <img src="./assets/hero.svg" alt="Claire Ratliff & Jackson Avant" width="1260px" height="auto">
        </div>        

        <div class="row content">
          <span class="md">October 14, 2023</span>
          <span class="sm">Richmond, KY</span>
          <span class="sm">&#9825;</span>
        </div>

        <div class="row footer">
          <app-countdown></app-countdown>
        </div>
        
      </div>
    </div>
  </div>
</div>